<div>
  <span appIconSvg src="assets/icon/folder.svg" size="24" (click)="open()"></span>
  <span appIconSvg src="assets/icon/toc.svg" size="24"class="disable"></span>
  <span appIconSvg src="assets/icon/save.svg" size="24" (click)="save()" [ngClass]="{'disable' : styleSave()}"></span>
  <span appIconSvg src="assets/icon/home.svg" size="24"></span>
  <span appIconSvg src="assets/icon/arrow_back.svg" size="24"></span>
  <span appIconSvg src="assets/icon/arrow_forward.svg" size="24" class="disable"></span>
</div>
