<div>
  <span appIconSvg src="assets/icon/folder.svg" size="24" (click)="open()" title="ワークスペースを開く"></span>
  <span appIconSvg src="assets/icon/toc.svg" size="24"class="disable" title="未実装"></span>
  <span appIconSvg src="assets/icon/save.svg" size="24" (click)="save()" title="保存" [ngClass]="{'disable' : styleSaveDisable()}"></span>
  <span appIconSvg src="assets/icon/home.svg" size="24" (click)="home()" title="ホームに移動" [ngClass]="{'disable' : styleHomeDisable()}"></span>
  <span appIconSvg src="assets/icon/arrow_back.svg" size="24" (click)="historyService.backHistory()" title="戻る" [ngClass]="{'disable' : !historyService.hasBackHistory()}"></span>
  <span appIconSvg src="assets/icon/arrow_forward.svg" size="24" (click)="historyService.forwardHistory()" title="進む" [ngClass]="{'disable' : !historyService.hasFowardHistory()}"></span>
</div>
