<ng-container *ngIf="!iTreeWorkSpace">
  <span class="open-workspace" (click)="open()">Open WorkSpace</span>
</ng-container>

<ng-container *ngIf="iTreeWorkSpace">
  <div class="submenu">
    <span>{{getDirName()}}</span>


    <span class="close-icon" appIconSvg src="assets/icon/close_folder.svg" size="15" (click)="close()"></span>
  </div>
  <ng-container *ngFor="let file of iTreeWorkSpace.possessionFiles">
    <app-prossession-file [file]="file"></app-prossession-file>
  </ng-container>
</ng-container>
