<ng-container *ngIf="showFlg">
  <div class="background" (click)="showFlg = false">
    <div class="work-history" (click)="stopPropagation($event)">
      <div>
        <div class="title">Theme: Editor</div>
      </div>
      <div>
        <div class="title">Theme: Viewer - Code Blocks</div>
        <select (change)="changeTheme(highlightTheme)" [(ngModel)]="highlightTheme">
          <option *ngFor="let t of theme" [value]="t">{{t}}</option>
        </select>
        <button (click)="saveTheme(highlightTheme)">Save Theme</button>
        <div>
          <a href="https://highlightjs.org/" target="_blank">use highlight.js</a>
        </div>
      </div>

    </div>
  </div>
</ng-container>
