.body-frame {
  position: relative;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  touch-action: initial;

  background-color: gray;

  .explorer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #54B345;
  }

  .editor {
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: #D197AB;
  }

  .viewer {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #9BADCB;
  }

  .resize {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 4px;
    background-color: black;
    cursor: e-resize;

    &:hover {
      cursor: e-resize;
    }
  }
}

.do-mouse-event {
  pointer-events: none;
}
