@import "../../../variables";

app-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $TOP_PX;
}

.body-frame {
  position: relative;
  top: $TOP_PX;
  bottom: 0px;
  left: 0px;
  right: 0px;
  touch-action: initial;

  background-color: gray;

  .explorer {
    position: fixed;
    top: $TOP_PX;
    bottom: 0;
    left: 0;
    background-color: #252526;
    border: solid 1px #444;
    color: #cccccc;
    overflow: hidden;
    &:hover {
      overflow: auto;
    }

  }

  .editor {
    position: fixed;
    top: $TOP_PX;
    bottom: 0;
    background-color: #D197AB;
    overflow: hidden;
    &:hover {
      overflow: auto;
    }
    border: solid 1px #444
  }

  .viewer {
    position: fixed;
    top: $TOP_PX;
    bottom: 0;
    right: 0;
    background-color: #9BADCB;
    overflow: hidden;
    &:hover {
      overflow: auto;
    }
    border: solid 1px #444
  }

  .resize {
    position: fixed;
    top: $TOP_PX;
    bottom: 0;
    width: 4px;
    background-color: rgba(0, 0, 0, 0);
    cursor: e-resize;

    &:hover {
      cursor: e-resize;
    }
  }
}

.do-mouse-event {
  pointer-events: none;
}
