@import "../../../../variables";


.app-sash {
  position: fixed;
  top: $TOP_PX;
  bottom: 0px;
  width: 4px;
  height: 100%;
  z-index: 35;
  touch-action: none;
  cursor: default !important;
  pointer-events: none !important;
  white-space: initial;
  background-color: rbga(0, 0, 0, 0);
}
