@import "../../../../variables";

.background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;


  .work-history {
    position: fixed;
    top: 32px;
    left: 72px;
    border: solid 1px $PRI-FONT-COLOR;
    color: $PRI-FONT-COLOR;
    background-color: $PRI-BACKGROUND-COLOR;
    padding: 10px;
    pointer-events: stroke;


    .title {
      font-size: 110%;
    }

    .icon {
      vertical-align: middle;
    }

    .workspace {
      padding-left: 5px;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

option:checked {
  background-color: $PRI-BACKGROUND-COLOR;
  color: $PRI-FONT-COLOR;
}
